/* ! About */
.about {
  min-height: 100vh;
  display: flex;
}

.about:hover {
  margin-left: 2.9rem;
  transition: 1s;
}

.about-branding-picture {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.my-photo-positioning {
  margin-top: 6rem;
  margin-left: 6rem;
  animation: open 8s ease-in-out;
}

.positioning-brand-statement-paragraph {
  margin-left: -4rem;
  margin-top: 5rem;
  animation: open 5s ease-in-out;
  z-index: 1;
}

.positioning-about-main-heading {
  margin-top: 3rem;
  animation: open 2s ease-in-out;
}

.projects-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-positioning-container {
  width: 80%;
  margin-top: 7rem;
}

.skills-icons {
  width: 100%;
  margin: 1rem;
  transition: 2s;
  display: block;
}

.skills-icons-positioning {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  animation: open 2s ease-in-out;
}

.overlay {
  margin-top: 5rem;
  margin-left: .5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 120%;
  opacity: 0;
  transition: .5s ease;
}

.container {
  position: relative;
  width: 75px;
  margin: 1rem;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  margin-top: .5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

