/* ! Experiences & Education */
.experiences {
  min-height: 100vh;
}

.experiences-main-heading {
  font-size: 8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "didot";
  transition: .4s;
  opacity: .4;
}

.heading-two {
  opacity: .1;
  margin-top: 4.2rem;
  text-align: right;
  // margin-right: 10rem;
}

.experiences-education-wannabe-table {
  display: flex;
  width: 80%;
  height: 400px;
  border: 1px solid red;
  margin: 4rem auto;
}

.experiences-left-side {
  width: 50%;
  padding: 2rem;
}

.education-right-side {
  width: 50%;
  padding: 2rem;
}

.bullet-right {
  padding-left: 1rem;
}