* {
  background: antiquewhite;
}

.homepage-container {
  min-height: 100vh;
  font-family: "didot";
}

header {
  margin: 2rem;
  min-height: 93.2vh;
  position: relative;
}

nav a {
    font-size: 1.5rem;
    opacity: .3;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    position: relative;
    display: inline-block;
}

nav:hover a {
  color: rgb(114, 0, 0);;
  cursor: url('../images/circleTwo.svg'), auto;
}

.cursor-outside-container {
  min-height: 100vh;
  cursor: url('../images/circle.svg'), auto;
}

.top-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom-navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar-contacts-directions {
  transform: rotate(360deg);
  writing-mode: vertical-lr;
}

.my-introduction-heading {

  margin-top: 18rem;
  h1 {
    text-transform: uppercase;
    font-size: 12rem;
    color: rgb(114, 0, 0);
  }
  h2 {
    font-size: 6rem;
    margin-top: -3rem;
  }
}














.section-home-1 {
  height: 100vh;
  padding: 10em;
}

.custom-p {
  opacity: 0;
  transition: opacity 6s;
}

.scroll-class {
  opacity: 1;
}








