// ! max-width: 1024px - iPad Pro
@media only screen and (max-width: 1024px) {

  .disabled {
    pointer-events: none;
    margin-left: 2.9rem;
    h1 {
      opacity: .2;
    }
  }

  .projects-media-query-hover {
    margin-left: 2.9rem;
  }

  // ? Landing page

  .my-introduction-heading {
  
    margin-top: 26rem;
    .tominc-media-query {
      flex-direction: column;
    }
    .space-unicode {
      display: none;
    }
    .tominc-positioning {
      padding-top: -2rem;
      margin-top: -3rem;
      line-height: .8;
    }
    h1 {
      font-size: 12rem;
    }
    h2 {
      font-size: 6rem;
      margin-top: 3rem;
      line-height: .8;
      margin-left: 2rem;
    }
  }

  // ? About page

  .positioning-about-main-heading {
    flex-direction: column;
    margin-top: 11rem;
    width: 400px;
    p {
      margin-right: -3rem;
    }
  }

  .my-photo-positioning {
    margin-top: 11rem;
    margin-left: 6rem;
  }

  .positioning-brand-statement-paragraph {
    margin-top: 4rem;
    margin-left: -25rem;
  }

  .skills-icons-positioning {
    flex-wrap: wrap
  }

  // ? Experience page

  .experiences-left-side {
    width: 100%;
  }

  .experiences-right-side {
    display: none;
  }

  // ? Projects page

  .accordion-text {
    flex-direction: column;
  }

  .project-images-resize {
    width: 600px;
    // height: 60%;
  }

  .project-image-media-query {
    display: flex;
    justify-content: center;
  }

  .tools-icons-positioning {
    justify-content: center;
  }

  .project-details-width {
    margin-bottom: 10rem;
  }

  // ? Contact page

}

// ! max-width: 800px - iPad
@media only screen and (max-width: 800px) {

  // ? Landing page

  .homepage-container {
    width: 122%;
    h2 {
      margin-right: -3rem;
    }
  }

  header {
    min-height: 127vh;
  }

  // About page

  .about {
    width: 122%;
  }

  .my-photo-positioning {
    margin-left: 4.5rem;
  }

  .skills-icons {
    width: 80%;
  }

  .overlay {
    height: 20%;
    margin-left: .1rem;
  }

  // ? Experience page

  .experiences-main-heading {
    margin-left: 1.5rem;
  }

  .contact-main-heading {
    margin-left: 5rem;
  }



  // ? Projects page

  .projects {
    width: 115%;
  }

  // ? Contact page

}


// ! max-width: 540px - Surface Duo
@media only screen and (max-width: 540px) {

  // ? Landing page

  .my-introduction-heading {
  
    margin-top: 15rem;
    .tominc-media-query {
      flex-direction: column;
    }
    .space-unicode {
      display: none;
    }
    .tominc-positioning {
      padding-top: -2rem;
      margin-top: -3rem;
      line-height: 1;
    }
    h1 {
      font-size: 10rem;
    }
    h2 {
      font-size: 5rem;
      margin-top: 3rem;
      line-height: .8;
      margin-left: 2rem;
    }
  }

  .scrolls {
    display: none;
  }

  .homepage-container {
    width: 140%;
    height: 150vh;
  }

  .putting-margin-to-home-page {
    width: 105%;
  }

  .bottom-navbar {
    position: relative;
    flex-direction: column;
    .navbar-contacts-directions {
      writing-mode: horizontal-tb;
    }
  }

  .top-navbar {
    flex-direction: column;
    align-items: flex-end;
  }

  nav:hover a h2 {
    pointer-events: none;
    margin-right: -5rem;
    color: black;
  }

  // ? About page

  .about {
    width: 150%;
    // flex-direction: column;
    .projects-main-heading {
      margin-left: -.8rem;
    }
  }

  .about:hover {
    margin-left: 1.9rem;
  }

  .about-container-media-query {
    margin-left: 1.2rem;
  }

  .positioning-about-main-heading {
    margin-top: 10rem;
    width: 500px;
    margin-left: -2rem;
    margin-right: 1.8rem;
    font-size: 2.2rem;
  }

  .about-paragraph p {
    font-size: 1.7rem;
    line-height: 1.5;
  }

  .my-photo-positioning {
    margin-left: -10rem;
    margin-top: 24rem;
  }

  .positioning-brand-statement-paragraph {
    margin-left: -33rem;
    margin-right: -2rem;
    margin-top: 2rem;
  }

  .skills-positioning-container {
    h3 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 2rem;
    }
  }

  .skills-icons-positioning {
    margin-bottom: 3rem;
    margin-left: -.5rem;
    padding-bottom: 1rem;
    width: 106%;
    .container {
      padding-bottom: 1rem;
    }
  }

  .skills-icons {
    width: 80%;
  }

  .overlay {
    opacity: 1;
    height: 20%;
    margin-left: .1rem;
    margin-top: 5rem;
  }

  // ? Experience page

  .experiences {
    margin-top: 14rem;
  }

  .experiences-main-heading {
    margin-top: 10rem;
    font-size: 6rem;
    margin-left: 0;
  }

  .experiences-education-wannabe-table {
    width: 130%;
    margin-left: 3.4rem;
    margin-top: 1rem;
  }

  .projects-main-container {
    width: 95%;
  }

  .experiences-description { 
    margin-bottom: .5rem;
    h3 {
      font-size: 1.9rem;
    }
    h5 {
      padding-top: .5rem;
      font-size: 1.5rem;
    }
    li {
    font-size: 1.7rem;
    line-height: 1.5;
    }
  }

  // ? Projects page

  .projects {
    margin-top: 16rem;
    width: 160%;
  }

  .projects-main-heading {
    font-size: 6rem;
    line-height: 0;
    margin-left: -.8rem;
    margin-bottom: 8rem;
    transition: 1s;
  }

  .project-details-width {
    margin-left: 5rem;
  }

  .summary-positioning {
    .project-icon {
      width: 100px;
    }
    h3 {
      font-size: 2.2rem;
      margin-left: 1rem;
    }
  }

  .accordion-text-paragraph {
    font-size: 1.7rem;
    line-height: 1.5;
    // width: 200%;
  }

  .tools-icons-size {
    width: 60px;
    height: 60px;
    margin: .5rem;
  }

  // ? Contact page

  .contacts {
    margin-top: 10rem;
  }

  .contact-main-heading {
    font-size: 6rem;
    margin-left: 17rem;
  }

}


// ! max-width: 414px - iPhone 6/7/8 Plus
@media only screen and (max-width: 414px) {

  // ? Landing page

  .homepage-container {
    height: 180vh;
  }

  nav {
    margin-right: .7rem;
  }

  .top-navbar, .bottom-navbar {
    margin-top: .5rem;
  }

  .top-navbar a h2, .bottom-navbar a h2 {
    font-size: 4rem;
    line-height: 1;
  }

  .putting-margin-to-home-page {
    width: 130%;
  }

  .my-introduction-heading {
    margin-left: .5rem;
    margin-top: 30rem;
    h1 {
      font-size: 10.5rem;
    }
    h2 {
      font-size: 6rem;
      margin-left: 1rem;
    }
  }

  // ? About page


  // ? Experience page


  // ? Projects page


  // ? Contact page

}