@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* ul {
  margin: 0;
}

* ul.dashed {
  list-style-type: none;
  padding-left: 1rem;
}

* ul.dashed > li {
  text-indent: -5px;
}

* ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

.scroll-home {
  position: fixed;
  bottom: 800px;
  right: 1.05rem;
  width: 60px;
  height: 60px;
  background: antiquewhite url("../images/SVGIcons/home-icon.svg");
  border-radius: 50%;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 99997;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.scroll-home.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

:root {
  --clr-light: antiquewhite;
  --clr-dark: black;
  --clr-primary: antiquewhite;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --clr-light: antiquewhite;
  --clr-dark: black;
  --clr-primary: antiquewhite;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

.darkmode nav a {
  color: antiquewhite;
  opacity: .6;
}

.darkmode nav:hover a h2 {
  opacity: 1;
}

.darkmode .scrolls {
  color: antiquewhite;
  opacity: 1;
}

.darkmode .scrolls .scroll-indicator-line {
  background-color: antiquewhite;
}

.darkmode .text {
  color: antiquewhite;
}

.darkmode .skills-icons {
  background: antiquewhite;
  padding: .5rem;
}

.darkmode .skills-positioning-container h3 {
  border-bottom: 1px solid #720000;
}

.darkmode details summary {
  border-color: antiquewhite;
}

.darkmode .positioning-projects-buttons .cta:before {
  background: rgba(114, 0, 0, 0.8);
}

.darkmode .positioning-projects-buttons .cta svg {
  stroke: antiquewhite;
}

.darkmode .container-contact {
  border-color: antiquewhite;
}

.darkmode .container-contact .underline {
  border-bottom-color: antiquewhite;
}

.darkmode .container-contact input[type='text'], .darkmode .container-contact [type='email'], .darkmode .container-contact .select-subject, .darkmode .container-contact textarea {
  border-bottom-color: antiquewhite;
  color: antiquewhite;
  opacity: .75;
}

.darkmode .container-contact ::-webkit-input-placeholder {
  color: antiquewhite;
  opacity: .75;
}

.darkmode .container-contact :-moz-placeholder {
  color: antiquewhite;
  opacity: .75;
}

.darkmode .container-contact ::-moz-placeholder {
  color: antiquewhite;
  opacity: .75;
}

.darkmode .container-contact :-ms-input-placeholder {
  color: antiquewhite;
  opacity: .75;
}

.darkmode .container-contact .form_button {
  border-color: antiquewhite;
  color: antiquewhite;
}

.darkmode .container-contact .select-subject {
  background: url("https://svgshare.com/i/_Wk.svg") no-repeat right;
  background-size: 16px;
}

.darkmode .tools-icons-size {
  background: antiquewhite;
  padding: .5rem;
}

.darkmode .icon_wrapper img {
  background-color: antiquewhite;
}

.darkmode .experiences-right-side .work-experiences-icons {
  background: url("https://svgshare.com/i/_Yo.svg");
  background-size: 300px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.toggle-button-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle-button-position button {
  margin-top: 2.5vh;
}

.scrolls {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.25em;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: black;
  opacity: .4;
  display: block;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: .8rem;
}

.scrolls .center {
  font-size: 0.4rem;
}

.scrolls .scroll-indicator-line {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 25px;
  background-color: #000;
  margin: auto;
  content: '';
}

.homepage-container {
  min-height: 100vh;
  font-family: "didot";
}

header {
  min-height: 100vh;
  position: relative;
}

.putting-margin-to-home-page {
  padding: 2rem;
}

nav a {
  font-size: 1.5rem;
  opacity: .3;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

nav:hover a h2 {
  cursor: url("../images/circleTwo.svg"), auto;
  padding: 2rem;
  margin: -2rem;
}

nav a h2:hover {
  color: #720000;
}

.cursor-normal {
  cursor: url("../images/circle.svg") 12 10, auto;
}

.top-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4rem;
}

.navbar-contacts-directions {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.my-introduction-heading {
  margin-top: 18rem;
}

.my-introduction-heading .tominc-media-query {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-introduction-heading h1 {
  text-transform: uppercase;
  font-size: 12rem;
  color: #720000;
  line-height: 1;
}

.my-introduction-heading h2 {
  font-size: 6rem;
  margin-top: -2rem;
  margin-left: 2rem;
}

.section-home-1 {
  height: 100vh;
  padding: 10em;
}

.custom-p {
  opacity: 0;
  -webkit-transition: opacity 6s;
  transition: opacity 6s;
}

.scroll-class {
  opacity: 1;
}

/* ! About */
.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.about:hover {
  margin-left: 2.9rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.about-main-heading {
  font-size: 8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  line-height: .2;
  font-family: "didot";
  -webkit-transition: .4s;
  transition: .4s;
  opacity: .4;
  -webkit-animation: open 4s ease-in-out;
          animation: open 4s ease-in-out;
}

.about-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-branding-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.my-photo-positioning {
  margin-top: 6rem;
  margin-left: 6rem;
  -webkit-animation: open 8s ease-in-out;
          animation: open 8s ease-in-out;
}

.positioning-brand-statement-paragraph {
  margin-left: 27rem;
  margin-top: -14.5rem;
  -webkit-animation: open 5s ease-in-out;
          animation: open 5s ease-in-out;
  z-index: 1;
  width: 450px;
}

.positioning-about-main-heading {
  margin-top: 3rem;
  -webkit-animation: open 2s ease-in-out;
          animation: open 2s ease-in-out;
  width: 480px;
}

.skills-positioning-container {
  width: 80%;
  margin-top: 7rem;
}

.skills-positioning-container h3 {
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
  border-bottom: 1px solid rgba(114, 0, 0, 0.4);
}

.skills-positioning-container h4 {
  font-size: 1.5rem;
  font-family: 'DM Serif Display', serif;
  margin-top: 1rem;
}

.skills-icons {
  width: 100%;
  margin: 1rem;
  -webkit-transition: 2s;
  transition: 2s;
  display: block;
  padding: .5rem;
  border-radius: 10px;
}

.skills-icons-positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-animation: open 2s ease-in-out;
          animation: open 2s ease-in-out;
}

.overlay {
  margin-top: 6rem;
  margin-left: .5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 120%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-family: 'Raleway', sans-serif;
}

.container {
  position: relative;
  width: 100px;
  margin: 1rem;
}

.container:hover {
  cursor: url("../images/circleTwo.svg"), auto;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  margin-top: .5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.my-photo {
  width: 300px;
  opacity: .9;
  margin-left: 3rem;
}

/* ! Projects section */
.projects {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.projects-main-heading {
  font-size: 8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  line-height: .2;
  font-family: "didot";
  -webkit-transition: .4s;
  transition: .4s;
  opacity: .4;
  -webkit-animation: open 4s ease-in-out;
          animation: open 4s ease-in-out;
}

.projects:hover {
  margin-left: 2.9rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.changing-according-profile {
  padding-top: 20px;
}

details[open] summary ~ * {
  -webkit-animation: open 1s ease-in-out;
          animation: open 1s ease-in-out;
}

@-webkit-keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    overflow: 1;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    overflow: 1;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: .5rem 0;
  border-bottom: 1px solid black;
  position: relative;
  cursor: url("../images/circleTwo.svg"), auto;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
  -webkit-animation: open 2s ease-in-out;
          animation: open 2s ease-in-out;
}

details summary::after {
  content: '+';
  color: #720000;
  margin-top: 1rem;
  position: absolute;
  font-size: 3rem;
  line-height: 0;
  right: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

details[open] summary::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 4rem;
}

details summary {
  outline: 0;
}

details p {
  font-size: .95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.project-details-width {
  width: 75%;
  margin-left: 8rem;
  margin-right: 4rem;
}

.project-images-resize {
  width: 500px;
  padding: 1rem;
}

.summary-positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary-positioning h3 {
  font-size: 1.5rem;
  font-family: didot;
}

.project-icon-container {
  height: 75px;
  width: 75px;
}

.project-icon {
  padding-right: 1rem;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.accordion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools-icons-positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
}

.tools-icons-size {
  width: 50px;
  height: 50px;
  margin: 15px 15px 0;
  border-radius: 10px;
}

.accordion-text-paragraph {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}

.positioning-projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.positioning-projects-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.positioning-projects-buttons ul li {
  list-style: none;
}

.positioning-projects-buttons ul li a {
  text-decoration: none;
  color: inherit;
  font-family: didot;
}

.positioning-projects-buttons ul li .cta {
  position: relative;
  margin: 0 10px;
  padding: 17px 22px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.positioning-projects-buttons ul li .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(114, 0, 0, 0.2);
  width: 56px;
  height: 56px;
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
}

.positioning-projects-buttons ul li .cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .15em;
  text-transform: uppercase;
  vertical-align: middle;
}

.positioning-projects-buttons ul li .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
}

.positioning-projects-buttons ul li .cta:hover:before {
  width: 100%;
}

.positioning-projects-buttons ul li .cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.positioning-projects-buttons ul li .cta:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

/* ! Experiences & Education */
.experiences {
  min-height: 100vh;
}

.experiences-main-heading, .contact-main-heading {
  font-size: 8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "didot";
  -webkit-transition: .4s;
  transition: .4s;
  opacity: .4;
}

.heading-two {
  opacity: .1;
  margin-top: 4.2rem;
  text-align: right;
}

.experiences-education-wannabe-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 500px;
  margin: 4rem auto;
}

.experiences-left-side {
  width: 50%;
  padding: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
}

.education-right-side {
  width: 50%;
  padding: 2rem;
}

.experiences-description h3 {
  font-size: 1.5rem;
  font-family: didot;
}

.experiences-description .span-slash {
  color: #720000;
}

.experiences-description h5 {
  font-size: 1.2rem;
  font-family: didot;
  padding-bottom: .5rem;
}

.experiences-description li {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.experiences-description .heading-positioning-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.positioning-about-main-heading {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
}

.about-paragraph p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.experiences-two-padding {
  padding-bottom: 2rem;
}

.experiences-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.experiences-right-side .work-experiences-icons {
  width: 300px;
  height: 300px;
  background: url("../images/SVGIcons/work.svg");
  background-size: 300px;
  opacity: 0;
  -webkit-transition: 4s;
  transition: 4s;
}

.experiences-right-side:hover .work-experiences-icons,
.experiences-right-side:active .work-experiences-icons {
  opacity: .5;
  -webkit-animation: open 4s ease-in-out;
          animation: open 4s ease-in-out;
}

.experience-sign {
  visibility: hidden;
}

/* ! Contacts */
.contacts {
  margin-top: 8rem;
  min-height: 100vh;
  -webkit-animation: open 4s ease-in-out;
          animation: open 4s ease-in-out;
}

.container-contact {
  border: solid 3px black;
  max-width: 768px;
  margin: 60px auto 8rem;
  position: relative;
}

.container-contact h3 {
  font-family: 'DM Serif Display';
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.container-contact .underline {
  border-bottom: solid 2px black;
  margin: -0.512em auto;
  width: 80px;
}

.container-contact .icon_wrapper {
  margin: 50px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-contact .icon_wrapper img {
  width: 60px;
  margin: 0 25px;
  padding: .5rem;
  border-radius: 10px;
}

.container-contact .email {
  float: right;
  width: 45%;
}

.container-contact input[type='text'], .container-contact [type='email'], .container-contact .select-subject, .container-contact textarea {
  background: none;
  border: none;
  border-bottom: solid 2px black;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container-contact input[type='text']:focus, .container-contact [type='email']:focus, .container-contact textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.container-contact .message {
  float: none;
}

.container-contact .name {
  float: left;
  width: 45%;
}

.container-contact .select-subject {
  background: url("../images/SVGIcons/arrow-down.svg") no-repeat right;
  background-size: 16px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.container-contact .select-subject::-ms-expand {
  display: none;
}

.container-contact .subject {
  width: 100%;
}

.container-contact .telephone {
  width: 100%;
}

.container-contact textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

.container-contact ::-webkit-input-placeholder {
  color: #474544;
}

.container-contact :-moz-placeholder {
  color: #474544;
  opacity: 1;
}

.container-contact ::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

.container-contact :-ms-input-placeholder {
  color: #474544;
}

.container-contact .form_button {
  background: none;
  border: solid 2px black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'DM Serif Display';
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container-contact .form_button:hover {
  background-color: #720000;
  color: antiquewhite;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

button {
  overflow: visible;
}

button, .select-subject {
  text-transform: none;
}

button, input, .select-subject, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

/* ! Footer */
.footer {
  clear: both;
  position: relative;
  height: 4rem;
  margin-top: -4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer p {
  font-family: 'didot';
  font-size: 1.1rem;
}

@media only screen and (max-width: 1575px) {
  .putting-margin-to-home-page {
    padding: 0;
  }
  .nav-icon {
    width: 50px;
    position: fixed;
    margin-top: 2rem;
    right: 2rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999999;
  }
  .nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #900000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .nav-icon span:nth-child(1) {
    top: 0px;
  }
  .nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
    top: 18px;
  }
  .nav-icon span:nth-child(4) {
    top: 36px;
  }
  .nav-icon.active span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .nav-icon.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-icon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .nav-icon.active span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .side-navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: calc(100% - 500px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    min-height: 100vh;
    z-index: 99998;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .side-navbar nav a {
    opacity: .8;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .side-navbar .top-navbar {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-navbar .top-navbar h2 {
    color: antiquewhite;
    font-size: 4rem;
  }
  .side-navbar .bottom-navbar {
    bottom: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-navbar .bottom-navbar h2 {
    color: antiquewhite;
    font-size: 4rem;
  }
  .side-navbar .bottom-navbar .navbar-contacts-directions {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .side-navbar.active {
    right: 0;
  }
  nav:hover a h2 {
    pointer-events: none;
    padding: 0;
    margin: 0;
  }
  .darkmode .side-navbar {
    background: antiquewhite;
  }
  .darkmode .top-navbar h2, .darkmode .bottom-navbar h2 {
    color: black;
  }
  .darkmode .about-main-heading, .darkmode .experiences-main-heading, .darkmode .projects-main-heading, .darkmode .contact-main-heading {
    color: antiquewhite;
    opacity: .1 !important;
  }
  .my-introduction-heading h1 {
    margin-left: 3rem;
  }
  .my-introduction-heading h2 {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 1500px) {
  .positioning-about-main-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 11rem;
  }
  .positioning-about-main-heading p {
    margin-right: -3rem;
  }
  .skills-positioning-container {
    width: 75%;
    margin-left: -5rem;
  }
  .my-photo-positioning {
    margin-top: 11rem;
    margin-left: 6rem;
  }
  .positioning-brand-statement-paragraph {
    margin-top: 4rem;
    margin-left: -12rem;
    width: 800px;
  }
  .skills-icons-positioning {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .skills-icons {
    width: 75px;
  }
}

@media only screen and (max-width: 1350px) {
  .positioning-brand-statement-paragraph {
    margin-left: -18rem;
  }
}

@media only screen and (max-width: 1280px) {
  .my-introduction-heading h2 {
    font-size: 5rem;
  }
  .about-main-container {
    margin-left: -5rem;
  }
  .about-main-heading {
    font-size: 13rem;
    margin-top: 10rem;
    opacity: .05 !important;
    z-index: -1;
    margin-left: 1.5rem !important;
    color: rgba(0, 0, 0, 0.5);
  }
  .experiences {
    margin-top: 13rem;
  }
  .experiences-main-heading {
    font-size: 13rem;
    margin-left: -2.5rem;
    overflow: hidden;
    line-height: 1;
    z-index: -1;
    opacity: .05;
  }
  .skills-positioning-container {
    width: 80%;
    margin-left: -2rem;
  }
  .container {
    margin: .5rem .5rem 1rem;
  }
  .text {
    margin-left: -.9rem;
  }
  .projects-main-heading {
    font-size: 13rem;
    line-height: .35;
    opacity: .05;
    z-index: -1;
  }
  .project-details-width {
    width: 80%;
    margin-left: 1.5rem;
  }
  .contact-main-heading {
    font-size: 13rem;
    opacity: .05;
    margin-left: -5rem;
    z-index: -1;
  }
}

@media only screen and (max-width: 1225px) {
  .positioning-about-main-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 11rem;
    width: 400px;
  }
  .positioning-about-main-heading p {
    margin-right: -3rem;
  }
  .my-photo-positioning {
    margin-top: 11rem;
    margin-left: 6rem;
  }
  .positioning-brand-statement-paragraph {
    margin-top: 4rem;
    margin-left: -25rem;
  }
  .skills-icons-positioning {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-height: 800px) and (max-width: 1024px) {
  .about {
    margin-top: -20rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  .disabled {
    pointer-events: none;
  }
  .projects-media-query-hover {
    margin-left: 2.9rem;
  }
  .my-introduction-heading {
    margin-top: 26rem;
  }
  .my-introduction-heading .tominc-media-query {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-introduction-heading .space-unicode {
    display: none;
  }
  .my-introduction-heading h1 {
    font-size: 11rem;
    margin-top: -3rem;
    line-height: .8;
    margin-left: 2rem;
  }
  .my-introduction-heading h2 {
    font-size: 4.5rem;
    margin-top: 3rem;
    line-height: .8;
    margin-left: 3.5rem;
  }
  .about {
    margin-top: -50rem;
  }
  .about-main-heading {
    margin-left: 3.8rem !important;
  }
  .positioning-about-main-heading {
    margin-left: -1rem;
  }
  .positioning-brand-statement-paragraph {
    margin-left: -25rem;
  }
  .my-photo-positioning {
    margin-left: 4rem;
  }
  .experiences-left-side {
    width: 100%;
  }
  .experiences-right-side {
    display: none;
  }
  .experiences {
    margin-bottom: 16rem;
  }
  .experiences-main-heading {
    margin-left: -.2rem;
    overflow-wrap: break-word;
    line-height: .78;
  }
  .projects {
    margin-bottom: 18rem;
  }
  .accordion-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-images-resize {
    width: 600px;
  }
  .project-image-media-query {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tools-icons-positioning {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-details-width {
    margin-bottom: 1rem;
    margin-left: -.8rem;
  }
  .contact-main-heading {
    overflow: hidden;
    line-height: .8;
    margin-left: -3rem;
  }
}

@media only screen and (max-width: 950px) {
  .positioning-about-main-heading {
    margin-left: -1rem;
  }
  .my-photo-positioning {
    margin-left: 4rem;
  }
  .positioning-brand-statement-paragraph {
    margin-top: 4rem;
    margin-left: -25rem;
  }
  .about-main-container {
    margin-left: -6rem;
  }
  .about-main-heading {
    font-size: 14rem;
    margin-top: 10rem;
    opacity: .05 !important;
    z-index: -1;
    margin-left: 4.2rem !important;
    color: rgba(0, 0, 0, 0.5);
  }
  .experiences {
    margin-top: 13rem;
  }
  .skills-positioning-container {
    width: 80%;
    margin-left: -2rem;
  }
  .container {
    margin: .6rem;
  }
  .projects-main-heading {
    font-size: 13rem;
    line-height: .35;
    opacity: .05;
    z-index: -1;
  }
  .project-details-width {
    width: 80%;
    margin-left: -3rem;
  }
  .contact-main-heading {
    font-size: 13rem;
    opacity: .05;
    margin-left: -5rem;
    overflow: hidden;
    z-index: -1;
  }
}

@media screen and (max-device-height: 1194px) and (max-device-width: 834px) {
  .side-navbar {
    width: 50%;
  }
  .toggle-button-position button {
    margin-top: -20rem;
  }
  .nav-icon {
    margin-top: -20rem;
  }
  .about {
    margin-top: -45rem;
  }
  .positioning-about-main-heading {
    width: 350px;
  }
  .positioning-brand-statement-paragraph {
    width: 650px;
    margin-left: -22rem;
  }
  .my-photo {
    width: 250px;
  }
  .my-photo-positioning {
    margin-left: 1rem;
  }
  .experiences-main-heading {
    margin-top: -5rem;
  }
  .projects {
    margin-top: -8rem;
  }
  .project-details-width {
    margin-left: -2.3rem;
  }
  .contacts {
    margin-top: -5rem;
  }
  .footer {
    margin-top: 6rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */