@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  background: antiquewhite;
}

.homepage-container {
  min-height: 100vh;
  font-family: "didot";
}

header {
  margin: 2rem;
  min-height: 93.2vh;
  position: relative;
}

nav a {
  font-size: 1.5rem;
  opacity: .3;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  display: inline-block;
}

nav:hover a {
  color: #720000;
  cursor: url("../images/circleTwo.svg"), auto;
}

.cursor-outside-container {
  min-height: 100vh;
  cursor: url("../images/circle.svg"), auto;
}

.top-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-contacts-directions {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.my-introduction-heading {
  margin-top: 18rem;
}

.my-introduction-heading h1 {
  text-transform: uppercase;
  font-size: 12rem;
  color: #720000;
}

.my-introduction-heading h2 {
  font-size: 6rem;
  margin-top: -3rem;
}

.section-home-1 {
  height: 100vh;
  padding: 10em;
}

.custom-p {
  opacity: 0;
  -webkit-transition: opacity 6s;
  transition: opacity 6s;
}

.scroll-class {
  opacity: 1;
}

/* ! About */
.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.about:hover {
  margin-left: 2.9rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.about-branding-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.my-photo-positioning {
  margin-top: 6rem;
  margin-left: 6rem;
  -webkit-animation: open 8s ease-in-out;
          animation: open 8s ease-in-out;
}

.positioning-brand-statement-paragraph {
  margin-left: -4rem;
  margin-top: 5rem;
  -webkit-animation: open 5s ease-in-out;
          animation: open 5s ease-in-out;
}

.positioning-about-main-heading {
  margin-top: 3rem;
  -webkit-animation: open 2s ease-in-out;
          animation: open 2s ease-in-out;
}

.projects-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-positioning-container {
  width: 80%;
  margin-top: 7rem;
}

.skills-icons {
  width: 100%;
  margin: 1rem;
  -webkit-transition: 2s;
  transition: 2s;
  display: block;
}

.skills-icons-positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-animation: open 2s ease-in-out;
          animation: open 2s ease-in-out;
}

.overlay {
  margin-top: 5rem;
  margin-left: .5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 120%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.container {
  position: relative;
  width: 75px;
  margin: 1rem;
}

.container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  margin-top: .5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ! Projects section */
.projects {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.projects-main-heading {
  font-size: 8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  line-height: .2;
  font-family: "didot";
  -webkit-transition: .4s;
  transition: .4s;
  opacity: .4;
  -webkit-animation: open 4s ease-in-out;
          animation: open 4s ease-in-out;
}

.projects:hover {
  margin-left: 2.9rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.changing-according-profile {
  padding-top: 20px;
}

details[open] summary ~ * {
  -webkit-animation: open 1s ease-in-out;
          animation: open 1s ease-in-out;
}

@-webkit-keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    overflow: 1;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    overflow: 1;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: .5rem 0;
  border-bottom: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
  -webkit-animation: open 2s ease-in-out;
          animation: open 2s ease-in-out;
}

details summary::after {
  content: '+';
  color: #d39700;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  right: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

details[open] summary::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 2rem;
}

details summary {
  outline: 0;
}

details p {
  font-size: .95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.project-details-width {
  width: 75%;
  margin-left: 8rem;
  margin-right: 4rem;
}

.project-images-resize {
  width: 500px;
  padding: 1rem;
}

.summary-positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-icon {
  padding-right: 1rem;
}

.accordion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools-icons-positioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
}

.tools-icons-size {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.accordion-text-paragraph {
  font-size: 1.2rem;
}

/* ! Experiences & Education */
.experiences {
  min-height: 100vh;
}

.experiences-main-heading {
  font-size: 8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "didot";
  -webkit-transition: .4s;
  transition: .4s;
  opacity: .4;
}

.heading-two {
  opacity: .1;
  margin-top: 4.2rem;
  text-align: right;
}

.experiences-education-wannabe-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 500px;
  margin: 4rem auto;
}

.experiences-left-side {
  width: 50%;
  padding: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
}

.education-right-side {
  width: 50%;
  padding: 2rem;
}

.bullet-right {
  padding-left: 1rem;
}

.experiences-description h3 {
  font-size: 1.5rem;
  font-family: didot;
}

.experiences-description span {
  color: #720000;
}

.experiences-description h5 {
  font-size: 1.2rem;
  font-family: didot;
  padding-bottom: .5rem;
}

.experiences-description li {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.experiences-description .heading-positioning-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-introduction-heading h2 {
  font-family: 'DM Serif Display', serif;
  opacity: .7;
  margin-left: 2.6rem;
}

.positioning-about-main-heading {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
}

.about-paragraph p {
  font-family: didot;
  font-size: 1.5rem;
}

.experiences-two-padding {
  padding-bottom: 2rem;
}

.experiences-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.experiences-right-side svg {
  width: 300px;
  opacity: 0;
  -webkit-transition: 4s;
  transition: 4s;
}

.experiences-right-side:hover svg {
  opacity: .5;
  -webkit-animation: open 4s ease-in-out;
          animation: open 4s ease-in-out;
}

/* ! Contacts */
.contacts {
  min-height: 75vh;
  -webkit-animation: open 4s ease-in-out;
          animation: open 4s ease-in-out;
}

/* ! Footer */
.footer {
  clear: both;
  position: relative;
  height: 4rem;
  margin-top: -4rem;
  background: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  .disabled {
    pointer-events: none;
    margin-left: 2.9rem;
  }
  .disabled h1 {
    opacity: .2;
  }
  .projects-media-query-hover {
    margin-left: 2.9rem;
  }
  .my-introduction-heading {
    margin-top: 16rem;
  }
  .my-introduction-heading h1 {
    font-size: 12rem;
  }
  .my-introduction-heading h2 {
    font-size: 6rem;
    margin-top: -1rem;
  }
  .positioning-about-main-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10rem;
  }
  .my-photo-positioning {
    margin-top: 7rem;
    margin-left: 10rem;
  }
  .positioning-brand-statement-paragraph {
    margin-left: -18.5rem;
  }
  .skills-icons-positioning {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project-images-resize {
    width: 400px;
  }
  .project-details-width {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 800px) {
  .homepage-container {
    width: 122%;
  }
  .my-introduction-heading {
    margin-top: 16rem;
  }
  .my-introduction-heading h1 {
    font-size: 8rem;
  }
  .my-introduction-heading h2 {
    font-size: 4rem;
    margin-top: -1rem;
  }
  header {
    min-height: 115vh;
  }
  .about {
    width: 122%;
  }
  .skills-icons {
    width: 80%;
  }
  .overlay {
    height: 20%;
    margin-left: .1rem;
  }
  .projects {
    width: 115%;
  }
  .accordion-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-images-resize {
    width: 600px;
  }
  .project-image-media-query {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tools-icons-positioning {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tools-icons-size {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .homepage-container {
    width: 134%;
  }
  .about {
    width: 135%;
  }
  .about:hover {
    margin-left: 1.9rem;
  }
  .about-container-media-query {
    margin-left: 1.2rem;
  }
  .positioning-about-main-heading {
    margin-top: 10rem;
    width: 300px;
  }
  .my-photo-positioning {
    margin-right: -10rem;
    margin-left: 1.5rem;
  }
  .positioning-brand-statement-paragraph {
    margin-right: 3rem;
  }
  .skills-icons {
    width: 70%;
  }
  .overlay {
    height: 20%;
    margin-left: -.1rem;
  }
  .experiences-main-heading {
    font-size: 5rem;
  }
  .projects {
    width: 133%;
  }
  .projects-main-heading {
    font-size: 5rem;
    line-height: 0;
    margin-left: 2.9rem;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .project-images-resize {
    width: 483px;
  }
  .project-details-width {
    margin-left: 5rem;
  }
  .summary-positioning .project-icon {
    width: 60px;
  }
  .summary-positioning h2 {
    font-size: 1.5rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */