@import 'home';
@import 'about';
@import 'projects';
@import 'experiences';
@import 'contacts';
@import 'footer';
@import 'media-query';
@import 'svg-animation';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}